<div>
    <h2 id="page-heading">
        <span jhiTranslate="rideFixxerApp.services.home.title">Services</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-services-ride-fixxer" [routerLink]="['/services-ride-fixxer/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="rideFixxerApp.services.home.createLabel">
            Create new Services
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="services">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="rideFixxerApp.services.name">Name</span></th>
            <th><span jhiTranslate="rideFixxerApp.services.price">Price</span></th>
            <th><span jhiTranslate="rideFixxerApp.services.timeAprox">Time Aprox</span></th>
            <th><span jhiTranslate="rideFixxerApp.services.bodyShop">Body Shop</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let services of services ;trackBy: trackId">
                <td><a [routerLink]="['/services-ride-fixxer', services.id, 'view' ]">{{services.id}}</a></td>
                <td>{{services.name}}</td>
                <td>{{services.price}}</td>
                <td>{{services.timeAprox | date:'medium'}}</td>
                <td>
                    <div *ngIf="services.bodyShop">
                        <a [routerLink]="['../body-shop-ride-fixxer', services.bodyShop?.id, 'view' ]" >{{services.bodyShop?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/services-ride-fixxer', services.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/services-ride-fixxer', services.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'services-ride-fixxer/'+ services.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
