<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-body-shop-ride-fixxer-heading" jhiTranslate="rideFixxerApp.bodyShop.home.createOrEditLabel">Create or edit a Body Shop</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!bodyShop.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="bodyShop.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rideFixxerApp.bodyShop.owner" for="field_owner">Owner</label>
                    <input type="text" class="form-control" name="owner" id="field_owner"
                        [(ngModel)]="bodyShop.owner" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rideFixxerApp.bodyShop.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="bodyShop.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rideFixxerApp.bodyShop.phone" for="field_phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="field_phone"
                        [(ngModel)]="bodyShop.phone" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rideFixxerApp.bodyShop.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="bodyShop.email" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rideFixxerApp.bodyShop.location" for="field_location">Location</label>
                    <select class="form-control" id="field_location" name="location" [(ngModel)]="bodyShop.location">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="locationOption.id === bodyShop.location?.id ? bodyShop.location : locationOption" *ngFor="let locationOption of locations; trackBy: trackLocationById">{{locationOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
